<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ACLI_Session_Manager.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <ACLI_Session_Manager.My.MySettings>
            <setting name="DoubleClickAction" serializeAs="String">
                <value>launch</value>
            </setting>
            <setting name="ChecforUpdateonStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="QuickLaunchProtocol" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DefaultFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LogLevel" serializeAs="String">
                <value>Info</value>
            </setting>
            <setting name="AutoSaveSessions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="QuickLaunchWindowOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultMode" serializeAs="String">
                <value>Interactive</value>
            </setting>
            <setting name="RDPResolution" serializeAs="String">
                <value>1024x768</value>
            </setting>
            <setting name="SecureCRTImportOnlysshtelntrdp" serializeAs="String">
                <value>True</value>
            </setting>
        </ACLI_Session_Manager.My.MySettings>
    </userSettings>
</configuration>
